html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

body{
    background:url("rose.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}


@font-face{
  font-family: myFirstFont;
  src: url("MoonCheese-Regular.ttf")
}

@font-face{
  font-family: mySecondFont;
  src: url("Follow Me.ttf")
}


textarea {
    position: static;
    background:transparent;
    outline:none;
    border:none;
    width:100%;
    height: 87vh;
    resize: none;
    top: 5px;
    right: -7px;
    font-size:20px;
    color:#fff;
}

h1{
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  font-family: courier;
  color: white;
}

.w3-button {
  display: none;
  width:170px;
}

#hlp{
  color: white;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: pink;
}

#login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  margin: 5px;
  width: 80px;
  height: 35px;
  background-color: white;
  color: black;
  border: none;
}

#login:hover {
  background-color: pink;
  color: white;
}

#lol{
  font-size: 35px;
  font-family: mySecondFont;
  color: pink;
}

#signup {
  position: absolute;
  top: 0;
  right: 85px;
  padding: 3px;
  margin: 5px;
  width: 80px;
  height: 35px;
  background-color: white;
  color: black;
  border: none;
  display: block;
}

#signup:hover {
  background-color: pink;
  color: white;
}


#logout {
  position: absolute;
  top: 0;
  right: 85px;
  padding: 3px;
  margin: 5px;
  width:80px;
  height: 35px;
  background-color: white;
  border: none;
  color: black;
  display: block;
}

#logout:hover {
  background-color: pink;
  color: white;
}

#follow{
  right: 1000px;
  left: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

#bitch{
  display: block;
}
