body{
  background: url(background.jpg);
  /* The image used */

/* Full height */
height: 100%;
width: 100%;
/* Center and scale the image nicely */

background-size: cover;
background-repeat: no-repeat;
}


.Clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

#timer{
  font-size: 100px;
  color: white;
  color: white;
  font-weight: 500;
}
